{% load static %}
<header>
    <div class="header-area header-style-two">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-8 col-sm-6 col-xs-6">
                    <nav class="main-nav">
                        <div class="inner-logo d-xl-none text-center">
                            <!-- <a href="#"><img src="{% static 'web/images/logo.png' %}" alt=""></a> -->
                            <h1>LOGO</h1>
                        </div>
                        <ul>
                            <li class="has-child-menu">
                                <a href="{% url 'web:index' %}">Home</a>
                                <!-- <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'web:index' %}">Home Style 1</a></li>
                                    <li><a href="{% url 'web:index' %}">Home Style 2</a></li>
                                    <li><a href="index3.html">Home Style 3</a></li>
                                    <li><a href="index4.html">Home Style 4</a></li>
                                </ul> -->
                            </li>
                            <li><a href="{% url 'web:about' %}">About Us</a></li>
                            <!-- <li class="has-child-menu">
                                <a href="javascript:void(0)">Destination</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="destination.html">Destination</a></li>
                                    <li><a href="destination-details.html">Destination Details</a></li>
                                </ul>
                            </li> -->
                            <li class="has-child-menu">
                                <a href="{% url 'web:packages' %}">Package</a>
                                <!-- <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="package.html">Package Grid</a></li>
                                    <li><a href="package-sidebar.html">Package Sidebar</a></li>
                                    <li><a href="package-standard.html">Package Standard</a></li>
                                    <li><a href="package-details.html">Package Details </a></li>
                                </ul> -->
                            </li>
                            <!-- <li class="has-child-menu">
                                <a href="javascript:void(0)">Blogs</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog Grid</a></li>
                                    <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                                    <li><a href="blog-standard.html">Blog Standard </a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="has-child-menu">
                                <a href="javascript:void(0)">Pages</a>
                                <i class="fl flaticon-plus">+</i>
                                <ul class="sub-menu">
                                    <li><a href="guide.html">Guide</a></li>
                                    <li><a href="gallary.html">Gallary</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                            </li> -->
                            <li><a href="{% url 'web:gallery' %}">Gallary</a></li>

                            <li><a href="{% url 'web:contact' %}">Contact Us</a></li>
                        </ul>
                        <div class="inner-contact-options d-xl-none">
                            <div class="contact-box-inner"><i class="bi bi-telephone-fill"></i> <a
                                    href="tel:+17632275032">+1 763-227-5032</a></div>
                            <div class="contact-box-inner"><i class="bi bi-envelope-fill"></i> <a
                                    href="https://demo.egenslab.com/cdn-cgi/l/email-protection#2c45424a436c49544d415c4049024f4341"><span
                                        class="__cf_email__"
                                        data-cfemail="8ce5e2eae3cce9f4ede1fce0e9a2efe3e1">[email&#160;protected]</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-xl-2 col-lg-12 col-md-12 col-sm-12 col-xs-12 align-items-center d-xl-flex d-lg-block">
                    <div class="nav-logo d-flex justify-content-between align-items-center">
                        <a href="{% url 'web:index' %}">
                            <img src="{% static 'web/images/ZO0N.png' %}" alt="logo"></a>
                            <!-- <h1>LOGO</h1> -->
                        <div class="mobile-menu d-flex ">
                            <div class="d-flex align-items-center">
                                <div class="nav-right-icons d-xl-none d-flex align-items-center ">
                                    <!-- <div class="user-dropdown">
                                        <i class='bx bx-user-circle'></i>
                                        <ul class="user-drop-list">
                                            <li><a href="#">My Account</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Registration</a></li>
                                            <li><a href="#">Setting</a></li>
                                        </ul>
                                    </div>
                                    <div class="category-toggle"><i class='bx bx-category'></i></div> -->
                                </div>
                                <a href="javascript:void(0)" class="hamburger d-block d-xl-none">
                                    <span class="h-top"></span>
                                    <span class="h-middle"></span>
                                    <span class="h-bottom"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="nav-right d-xl-flex d-none">
                        <div class="nav-right-icons">
                            <!-- <div class="user-dropdown">
                                <i class='bx bx-user-circle'></i>
                                <ul class="user-drop-list">
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Registration</a></li>
                                    <li><a href="#">Setting</a></li>
                                </ul>
                            </div>
                            <div class="category-toggle"><i class='bx bx-category'></i></div> -->
                        </div>
                        <div class="nav-right-hotline">
                            <div class="hotline-icon">
                                <i class="bi bi-phone-vibrate"></i>
                            </div>
                            <div class="hotline-info">
                                <span>Hot Line Number</span>
                                <h6><a href="tel:910000000000">+91 0000000000</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>